/* line 2, ../sass/screen.sass */
body {
  background: #efeded;
  color: #afaeae;
  font-family: sans-serif;
}

/* line 6, ../sass/screen.sass */
.content {
  margin: 20px;
}

/* line 9, ../sass/screen.sass */
h1 {
  font-size: 400%;
  line-height: 80%;
  margin-bottom: 0;
  letter-spacing: -5px;
}
/* line 15, ../sass/screen.sass */
h1 span {
  position: relative;
  top: 3px;
  left: -2px;
}
